/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/

/* theme color */
$--color-primary: #1890ff;
$--color-success: #13ce66;
$--color-warning: #FFBA00;
$--color-danger: #ff4949;

$--button-font-weight: 400;
$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;
$--table-border: 1px solid #dfe6ec;

/* Element Plus uses CSS variables by default */
:root {
  --el-color-primary: #{$--color-primary};
  --el-color-success: #{$--color-success};
  --el-color-warning: #{$--color-warning};
  --el-color-danger: #{$--color-danger};
  --el-border-color-light: #{$--border-color-light};
  --el-border-color-lighter: #{$--border-color-lighter};
}

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  theme: $--color-primary;
}
