@use './variables.scss' as *;

#app {
  .main-container {
    height: 100vh;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: var(--platform-deep-98);
  }

  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: var(--sidebar-bg);
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    .el-scrollbar__view {
      display: block;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      display: block;
    }

    .submenu-title-noDropdown,
    .el-sub-menu__title {
      &:hover {
        background-color: var(--sidebar-hover) !important;
      }
    }

    .is-active > .el-sub-menu__title {
      color: var(--sidebar-active-text) !important;
    }

    & .nest-menu .el-sub-menu > .el-sub-menu__title,
    & .el-sub-menu .el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: var(--sidebar-sub-bg) !important;

      &:hover {
        background-color: var(--sidebar-sub-hover) !important;
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
      .el-scrollbar__view {
        display: block !important;
      }

      .el-menu {
        display: block !important;
      }
    }

    .main-container {
      margin-left: 54px;
    }

    .svg-icon {
      margin-right: 0px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }
      }
    }

    .el-sub-menu {
      overflow: hidden;

      & > .el-sub-menu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .el-sub-menu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-sub-menu {
        & > .el-sub-menu__title {
          & > span {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            visibility: visible;
          }
        }
      }
    }

    .el-menu--collapse {
      .menu-title {
        display: none !important;
      }

      .el-menu-item,
      .el-sub-menu__title {
        padding: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .menu-item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .svg-icon {
        margin: 0 !important;
      }

      .submenu-title-noDropdown .el-tooltip {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .el-menu--collapse .el-menu .el-sub-menu {
    min-width: $sideBarWidth !important;
  }

  .mobile {
    .main-container {
      margin-left: 0px;
      height: 100vh;
    }

    .sidebar-container {
      transition: transform .28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

.el-menu--vertical {
  & > .el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }

  .nest-menu .el-sub-menu > .el-sub-menu__title,
  .el-menu-item {
    &:hover {
      background-color: var(--sidebar-hover) !important;
    }
  }

  > .el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: var(--sidebar-sub-bg);
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--sidebar-text);
      border-radius: 20px;
    }
  }
}
