// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:rgba(228, 239, 255, 0.76);
$menuActiveText:#36f0cb;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#0f1c31;
$menuHover:#1a3050;

$subMenuBg:#0b1625;
$subMenuHover:#1a3050;

$sideBarWidth: 210px;
