// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

// sidebar
$menuText: rgba(228, 239, 255, 0.76);
$menuActiveText: #36f0cb;
$subMenuActiveText: #f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg: #0f1c31;
$menuHover: #1a3050;

$subMenuBg: #0b1625;
$subMenuHover: #1a3050;

$sideBarWidth: 210px;
